<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Employees</key>
	<array>
		<dict>
			<key>name</key>
			<string>Shan Ul Haq</string>
			<key>jobtitle</key>
			<string>Senior Software Engineer</string>
			<key>dob</key>
			<string>02 August, 1988</string>
			<key>yearsofemployement</key>
			<string>4</string>
			<key>image</key>
			<string>k.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>William Shakespeare</string>
			<key>jobtitle</key>
			<string>Staff Engineer</string>
			<key>dob</key>
			<string>26 April, 1564</string>
			<key>yearsofemployement</key>
			<string>10</string>
			<key>image</key>
			<string>shak.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Agatha Christie</string>
			<key>jobtitle</key>
			<string>Software Engineer</string>
			<key>dob</key>
			<string>15 September, 1890</string>
			<key>yearsofemployement</key>
			<string>1</string>
			<key>image</key>
			<string>agatha-christie.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Barbara Cartland</string>
			<key>jobtitle</key>
			<string>Principal Software Engineer</string>
			<key>dob</key>
			<string>9 July, 1901</string>
			<key>yearsofemployement</key>
			<string>7</string>
			<key>image</key>
			<string>barbara-cartland.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Danielle Steel</string>
			<key>jobtitle</key>
			<string>System Analyst</string>
			<key>dob</key>
			<string>August 14, 1947</string>
			<key>yearsofemployement</key>
			<string>2</string>
			<key>image</key>
			<string>dsteel01.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Harold Robbins</string>
			<key>jobtitle</key>
			<string>Graphic Designer</string>
			<key>dob</key>
			<string>May 21, 1916</string>
			<key>yearsofemployement</key>
			<string>4</string>
			<key>image</key>
			<string>harold.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Georges Simenon</string>
			<key>jobtitle</key>
			<string>Project Manager</string>
			<key>dob</key>
			<string>13 February 1903</string>
			<key>yearsofemployement</key>
			<string>15</string>
			<key>image</key>
			<string>georges-simenon.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sidney Sheldon</string>
			<key>jobtitle</key>
			<string>Senior Manager</string>
			<key>dob</key>
			<string>February 11, 1917</string>
			<key>yearsofemployement</key>
			<string>17</string>
			<key>image</key>
			<string>sidney-sheldon.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Enid Blyton</string>
			<key>jobtitle</key>
			<string>Senior CG Artist</string>
			<key>dob</key>
			<string>11 August 1897</string>
			<key>yearsofemployement</key>
			<string>8</string>
			<key>image</key>
			<string>enid-blyton.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dr. Seuss</string>
			<key>jobtitle</key>
			<string>Technology Envagilist</string>
			<key>dob</key>
			<string>March 2, 1904</string>
			<key>yearsofemployement</key>
			<string>3</string>
			<key>image</key>
			<string>dr-seuss.jpg</string>
		</dict>
	</array>
</dict>
</plist>
